// params {
//     // define global parameters for nextflow processes
// }

conda.enabled = true

profiles {
    standard {
        process.executor = 'local'
    }

    cluster {
        executor {
            queueSize = 500
            retry {
                maxAttempt = 5
                delay = "2s"
            }
            pollInterval = "30s"
        }

        process {
            executor = 'slurm'
            errorStrategy = { task.exitStatus in [140, 143] ? 'retry' : 'terminate' }
            maxErrors = '-1'
            maxRetries = 3
            withLabel: short {
                queue = "short"
                // cpus = 1
                // memory = 20.GB
            }
            withLabel: gpu {
                queue = "gpu_requeue"
                cpus = 1
                memory = 40.GB
                clusterOptions = "--gres=gpu:1"
            }
            withLabel: gpu_quad {
                queue = "gpu_quad"
                cpus = 1
                memory = 40.GB
                clusterOptions = "--gres=gpu:1"
            }
        }
    }
}
